<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-info">
                <h4 class="footer-name">Ical Zalfa</h4>
                <p class="footer-role">Graphic Designer</p>
                <p class="footer-description">
                    This portfolio contains some of my work and assignments.
                </p>
            </div>
            <div class="footer-credits">
                <p>Text in set in this portfolio.</p>
                <p>Thunder by Rajesh Rajput</p>
                <p>Urbanist by Corey Hu</p>
                <p class="copyright">Copyright © 2024</p>
            </div>
        </div>
    </div>
</footer>